{% extends "base.html" %}

{% block content %}
<h2>Список товаров</h2>
<a href="{% url 'add_product' %}">Добавить новый товар</a>
<ul>
    {% for product in products %}
        <li>
            {{ product.name }} | Цена: {{ product.price }}
            <a href="{% url 'edit_product' product.id %}">Редактировать</a>
            <form action="{% url 'delete_product' product.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Удалить</button>
            </form>
        </li>
    {% empty %}
        <li>Нет товаров в списке.</li>
    {% endfor %}
</ul>
{% endblock %}
